*{
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
}
*::-webkit-scrollbar {
    display: none;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }